<script src="/javascripts/income.js"></script>
<h1>{{title}}</h1>
<p><a href="/incometypes"><button>Типы доходов</button></a></p>

<table class="table">
    <tr>
        <th>Тип дохода</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Комментарий</th>
        <th></th>
    </tr>
    <form id="new" method="post">
        <tr>
            <td><select name="type">
                {{#each incometypes}}
                    <option value="{{this.idIncomeTypes}}">{{this.Type}}</option>
                {{/each}}
            </select></td>
            <td><input type="date" name="date" placeholder="Дата"></td>
            <td><input type="number" name="sum" placeholder="Сумма"></td>
            <td><input type="text" name="info" placeholder="Комментарий"></td>
            <td>
                <button formaction="/income" type="submit">Создать</button>
            </td>
        </tr>
    </form>
    {{#each income}}
        <form method="post">
            <tr>
                <td><input id="type_{{this.idIncome}}" type="text" value="{{this.Type}}" disabled></td>
                <td><input id="date_{{this.idIncome}}" type="date" value="{{this.Date}}" disabled></td>
                <td><input id="sum_{{this.idIncome}}" type="number" value="{{this.Sum}}" disabled></td>
                <td><input id="info_{{this.idIncome}}" type="text" value="{{this.Info}}" disabled></td>
                <td>
                    <button id="delete_{{this.idIncome}}" name="delete" type="button">Удалить</button>
                    <button id="change_{{this.idIncome}}" name="change" type="button">Редактировать</button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>