<h1>{{title}}</h1>
<p><a href="/expences/types"><button>Типы расходов</button></a></p>

<form method="post">
    <table class="table">
        <tr><th>Тип расхода</th><th>Дата</th><th>Сумма</th><th>Комментарий</th><th></th></tr>
        {{#each expences}}
            <tr>
                <td>{{this.Type}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.Cost}}</td>
                <td>{{this.Info}}</td>
                <td><button formaction="/expences/delete{{this.idExpences}}">Удалить</button><button formaction="/expences/{{this.idExpences}}">Редактировать</button></td>
            </tr>
        {{/each}}
        <tr>
            <td>
                <select id="Type">
                    <option id="plHolderType">Выберите тип</option>
                {{#each types}}
                    <option value="{{this.idExpencesTypes}}">{{this.Type}}</option>
                {{/each}}
                </select><br><br>
            </td>
            <td><input id="Date" class="field" placeholder="Дата" type="date"></td>
            <td><input id="Cost" class="field" placeholder="Стоимость"></td>
            <td><input id="Info" class="field" placeholder="Комментарий"></td>
            <td><button formaction="javascript: newExpences()">Создать</button></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function newExpences() {
        let type = document.getElementById('Type');
        let date = document.getElementById('Date');
        let cost = document.getElementById('Cost');
        let info = document.getElementById('Info');
        document.location.href = `/expences/create?type=${type.value}&date=${date.value}&cost=${cost.value}&info=${info.value}`;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        let selectType = document.getElementById("Type");
        let optPlHolderType  = document.getElementById("plHolderType");
        selectType.addEventListener("change", function(changeEvent) {
            optPlHolderType.hidden = true;
        });
    });
</script>