<script src="/javascripts/expensesTypes.js"></script>
<h1>{{title}}</h1>

<table class="table">
    <tr>
        <th>Тип расходов</th>
        <th>Описание</th>
        <th></th>
    </tr>
    <form id="new" method="post">
        <tr>
            <td><input type="text" name="type" placeholder="Тип"></td>
            <td><input type="text" name="info" placeholder="Описание"></td>
            <td>
                <button formaction="/expenses/types" type="submit">Создать</button>
            </td>
        </tr>
    </form>
    {{#each expensesTypes}}
        <form method="post">
            <tr>
                <td><input id="type_{{this.idExpensesTypes}}" type="text" value="{{this.Type}}" disabled></td>
                <td><input id="info_{{this.idExpensesTypes}}" type="text" value="{{this.Info}}" disabled></td>
                <td>
                    <button id="delete_{{this.idExpensesTypes}}" name="delete" type="button">Удалить</button>
                    <button id="change_{{this.idExpensesTypes}}" name="change" type="button">Редактировать</button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>