<h1>{{title}}</h1>
<form id="passtype" method="POST" autocomplete="off">
    <input name="id" class="field" value="{{passtype.idPassType}}" hidden="true"/>
    <label>Тип абонемента</label><br>
    <input name="type" class="field" value="{{passtype.Type}}"/><br><br>
    <label>Количество занятий</label><br>
    <input name="amount" class="field" value="{{passtype.Amount}}"/><br><br>
    <label>Количество недель</label><br>
    <input name="week" class="field" value="{{passtype.Week}}"/><br><br>
    <label>Цена</label><br>
    <input name="cost" class="field" value="{{passtype.Cost}}"/><br><br>
    <button type="submit" formaction={{button1.action}}>{{button1.name}}</button><button type="submit" formaction={{button2.action}}>{{button2.name}}</button>
</form>