<h1>{{title}}</h1>
<p><a href="/passes/newpass"><button>Добавить абонемент</button></a><a href="/passtypes"><button>Типы абонементов</button></a></p>

<table class="table">
    <tr>
        <th>Номер абонемента</th>
        <th>Клиент</th>
        <th>Тип абонемента</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Осталось занятий</th>
        <th>Стоимость</th>
    </tr>
    {{#each passes}}
        <tr>
            <td><a href="/passes/{{this.id}}">{{this.id}}</a></td>
            <td><a href="/clients/{{this.clientId}}">{{this.surname}} {{this.name}}</a></td>
            <td>{{this.passtype}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.endDate}}</td>
            <td>{{this.classesLeft}}</td>
            <td>{{this.cost}}</td>
        </tr>
    {{/each}}
</table>